{% extends "layouts/base.njk" %}
{% block head %}
  <script type="module" src="/js/HrrrMap.js"></script>
{% endblock %}
{% block content %}
  {% include "components/hrrr-map-properties.njk" %}
  {% include "components/hrrr-map.njk" %}
{% endblock %}
