# Local environment config
.env

# Use these directories for working files you need but shouldn't commit. Great
# for database dumps and quick scripts.
tmp/
local/

# Built files
.ipynb_checkpoints/
build/
node_modules/
*.log
*.pyc

# Sample cross-section outputs from HRRR Smoke
*htxssmoke*.png

# OS Cruft
.DS_Store

# Text Editors / IDEs
*.sublime-*
.vscode
.idea

# Data Files
*.zip
*.grib*
