@use "../uswds";

.switcher {
  $space: uswds.units(uswds.$theme-column-gap-md);

  display: flex;
  flex-wrap: wrap;
  gap: var(--space, #{$space});

  > * {
    flex-grow: 1;
    flex-basis: calc((var(--threshold, 24rem) - 100%) * 999);
  }
}
