<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {%- if title %}
    {% set pageTitle %} — {{ title }}{% endset %}
  {% endif -%}
  <title>HRRR Smoke Vis [EXPERIMENTAL]{{ pageTitle }}</title>
  <script>
    if (navigator.serviceWorker) navigator.serviceWorker.register("/serviceworker.js");
  </script>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/css/style.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "partials/site-header.njk" %}
  {% block content %}{% endblock %}
</body>
</html>
