@use "../uswds";

.coordinate-pair {
  display: flex;
  flex-wrap: wrap;
  gap: uswds.units(2);

  > * {
    flex: 1 0 6ch;
    min-width: 6ch;
  }

  legend {
    flex: 0 0 100%;
    width: 100%;
  }

  label {
    font-size: uswds.size("ui", "3xs");
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
