@use "../uswds";

.coordinate-pair {
  display: flex;
  flex-wrap: wrap;
  gap: uswds.units(2);

  > * {
    flex: 1 0 6ch;
    min-width: 6ch;
  }

  // For some reason, the row gap isn't working to create vertical space
  // between the elements, so we have add a margin-block-start to all of this
  // nonsense to achieve spacing between the legend and the inputs.
  > * + * {
    margin-block-start: uswds.units(0.5);
  }

  legend {
    flex: 0 0 100%;
  }

  label {
    font-size: uswds.size("ui", "3xs");
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
