@use "../uswds";

input,
select {
  --space: #{uswds.units(2px)};

  border: 1px solid uswds.color("base-light");
  border-radius: uswds.radius("sm");
  padding: uswds.units(0.5);

  font-family: uswds.family("mono");
  line-height: 1;
  font-size: uswds.size("mono", "xs");
}
