@use "./uswds";

:root {
  --text-1: #{uswds.color("white")};
  --text-2: #{uswds.color("base-lightest")};
  --text-3: #{uswds.color("base-lighter")};

  --surface-1: #{uswds.color("base-dark")};
  --surface-2: #{uswds.color("base-darker")};
  --surface-3: #{uswds.color("base-darkest")};

  color-scheme: dark;
}

html {
  background-color: var(--surface-3);

  font-family: uswds.family("ui");
  line-height: 1.5;
  color: var(--text-1);
}

body {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
    "header   header"
    "controls controls"
    "main     legend"
    "footer   footer";
  gap: 0 uswds.units(uswds.$theme-column-gap-md);

  font-size: uswds.size("ui", "md");

  > * {
    padding-left: uswds.units(uswds.$theme-site-margins-width);
    padding-right: uswds.units(uswds.$theme-site-margins-width);
  }

  > header,
  > footer {
    padding-top: uswds.units(2);
    padding-bottom: uswds.units(2);

    background-color: var(--surface-2);
    line-height: uswds.line-height("ui", 1);
    color: var(--text-2);

    h1 {
      font-size: inherit;
      font-weight: normal;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    small {
      font-size: uswds.size("ui", "3xs");
      line-height: uswds.line-height("ui", 1);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--text-3);
    }
  }

  > footer {
    grid-area: footer;
  }
}

label,
legend {
  font-family: uswds.family("ui");
  font-size: uswds.size("ui", uswds.$theme-body-font-size);
  line-height: uswds.line-height("ui", uswds.$theme-input-line-height);
}

input,
select {
  --space: #{uswds.units(2px)};

  border: 1px solid uswds.color("base-light");
  border-radius: uswds.radius("sm");
  padding: uswds.units(0.5);

  font-family: uswds.family("mono");
  line-height: 1;
  font-size: uswds.size("mono", "xs");
}

button {
  --border-color: #{uswds.color("base-light")};
  --background: #{uswds.color("base-lighter")};
  --focus-background: #{uswds.color("base-light")};
  --color: #{uswds.color("ink")};

  border: 2px solid var(--border-color);
  border-radius: #{uswds.border-radius(uswds.$theme-button-border-radius)};

  padding: #{uswds.units(0.5)} #{uswds.units(2.5)};

  background-color: var(--background);
  color: var(--color);

  transition: background-color 100ms linear;

  &:focus,
  &:hover {
    background-color: var(--focus-background);
  }

  &[type="submit"] {
    --border-color: #{uswds.color("primary-dark")};
    --background: #{uswds.color("primary-vivid")};
    --focus-background: #{uswds.color("primary-dark")};
    --color: #{uswds.color("base-lightest")};
  }
}

:focus {
  outline: 2px solid #{uswds.color("primary")};
  outline-offset: #{uswds.units(0.5)};
}

.hrrr-header {
  grid-area: header;
}

.hrrr-controls {
  grid-area: controls;
  padding-block: uswds.units(2);
  overflow-y: auto;
  background-color: var(--surface-2);
  color: var(--text-2);
}

.main {
  grid-area: main;
}

.legend {
  grid-area: legend;
}

.tick-label {
  font-size: uswds.size("ui", "3xs");
  line-height: uswds.line-height("ui", 1);
  color: var(--text-1);
}

@media screen and (min-height: #{uswds.units("tablet")}) and (min-aspect-ratio: 4/3) {
  body {
    grid-template-columns: 1fr min-content #{uswds.units("mobile-lg")};
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "main ...... header"
      "main legend controls"
      "main ...... footer";
    height: 100%;
    overflow: hidden;
  }

  .main {
    height: 100%;
    overflow: hidden;
  }
}
