@use "./uswds";

:root {
  --text-1: #{uswds.color("white")};
  --text-2: #{uswds.color("base-lightest")};
  --text-3: #{uswds.color("base-lighter")};

  --surface-1: #{uswds.color("base-dark")};
  --surface-2: #{uswds.color("base-darker")};
  --surface-3: #{uswds.color("base-darkest")};

  color-scheme: dark;
}

html {
  background-color: var(--surface-3);

  font-family: uswds.family("ui");
  line-height: 1.5;
  color: var(--text-1);
}

body {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content min-content min(100vw, 95vh) min-content;
  grid-template-areas:
    "header   header"
    "controls controls"
    "main     legend"
    "footer   footer";
  gap: 0 uswds.units(uswds.$theme-column-gap-md);

  font-size: uswds.size("ui", "md");

  > * {
    padding-left: uswds.units(uswds.$theme-site-margins-width);
    padding-right: uswds.units(uswds.$theme-site-margins-width);
  }

  > header,
  > footer {
    padding-top: uswds.units(2);
    padding-bottom: uswds.units(2);

    background-color: var(--surface-2);
    line-height: uswds.line-height("ui", 1);
    color: var(--text-2);

    h1 {
      font-size: inherit;
      font-weight: normal;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    small {
      font-size: uswds.size("ui", "3xs");
      line-height: uswds.line-height("ui", 1);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--text-3);
    }
  }

  > footer {
    grid-area: footer;
  }
}

label,
legend {
  font-family: uswds.family("ui");
  font-size: uswds.size("ui", uswds.$theme-body-font-size);
  line-height: uswds.line-height("ui", uswds.$theme-input-line-height);
}

input,
select {
  --space: #{uswds.units(2px)};
}

input {
  /* USWDS isn't set up for dark mode, apparently, so to ensure that the values
   * of the inputs are legible, we have to set a foreground and background color.
   */
  background-color: var(--text-1);
  color: var(--surface-3);
}

:focus {
  outline: 2px solid #{uswds.color("primary")};
  outline-offset: #{uswds.units(0.5)};
}

.hrrr-header {
  grid-area: header;
}

.hrrr-controls {
  grid-area: controls;
  padding-block: uswds.units(2);
  overflow-y: auto;
  background-color: var(--surface-2);
  color: var(--text-2);
}

.main {
  grid-area: main;
}

.legend {
  grid-area: legend;
}

.tick-label {
  font-size: uswds.size("ui", "3xs");
  line-height: uswds.line-height("ui", 1);
  color: var(--text-1);
}

.usa-button {
  /* USWDS places a right margin on buttons by default to ensure space between
   * them, but we use layouts to manage space between elements.
   */
  margin: 0;
}

@media screen and (min-height: #{uswds.units("tablet")}) and (min-aspect-ratio: 4/3) {
  body {
    grid-template-columns: 1fr min-content #{uswds.units("mobile-lg")};
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "main ...... header"
      "main legend controls"
      "main ...... footer";
    height: 100%;
    overflow: hidden;
  }

  .main {
    height: 100%;
    overflow: hidden;
  }
}
