<hrrr-map borders="/data/us.json"{% if showCounties %} show-counties{% endif %}
          north="{{ bounds.north }}"
          east="{{ bounds.east }}"
          south="{{ bounds.south }}"
          west="{{ bounds.west }}" />
