<form method="get" action="/" class="stack">
  <fieldset>
    <legend>Bounds</legend>
    <div class="stack">
      {{ forms.input("North", "north", "north") }}
      {{ forms.input("East", "east", "east") }}
      {{ forms.input("South", "south", "south") }}
      {{ forms.input("West", "west", "west") }}
    </div>
  </fieldset>
  {{ forms.checkbox("Show Counties", "showCounties", "showCounties", showCounties) }}
  <button type="submit">Update</button>
</form>
