@use "../uswds";

html {
  --bg-color: #{uswds.color("white")};
  --fg-color: #{uswds.color("ink")};

  background-color: var(--bg-color);

  font-family: uswds.family("ui");
  line-height: 1.5;
  color: var(--fg-color);
}

body {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "header"
    "controls"
    "xsection";
  gap: 0 uswds.units(uswds.$theme-column-gap-md);

  font-size: uswds.size("ui", "md");

  > * {
    padding-left: uswds.units(uswds.$theme-site-margins-width);
    padding-right: uswds.units(uswds.$theme-site-margins-width);
  }

  > header {
    padding-top: uswds.units(2);
    padding-bottom: uswds.units(2);

    background-color: uswds.color("primary-darker");
    line-height: uswds.line-height("ui", 1);
    color: uswds.color("base-lightest");

    h1 {
      font-size: inherit;
      font-weight: normal;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    small {
      font-size: uswds.size("ui", "3xs");
      line-height: uswds.line-height("ui", 1);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: uswds.color("base-light");
    }
  }
}

label,
legend {
  font-family: uswds.family("ui");
  font-size: uswds.size("ui", uswds.$theme-body-font-size);
  line-height: uswds.line-height("ui", uswds.$theme-input-line-height);
}

:focus {
  outline: 2px solid #{uswds.color("primary")};
  outline-offset: #{uswds.units(0.5)};
}

.hrrr-header {
  grid-area: header;
}

.hrrr-controls {
  grid-area: controls;
  padding-block: uswds.units(2);
  overflow-y: auto;
  background-color: uswds.color("primary-darker");
  color: uswds.color("base-lightest");
}

.hrrr-xsection {
  grid-area: xsection;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --bg-color: #{uswds.color("primary-darker")};
    --fg-color: #{uswds.color("base-lightest")};
  }

  body > header {
    border-bottom: uswds.units(1px) solid uswds.color("base");
  }
}

@media screen and (min-height: #{uswds.units("tablet")}) and (min-aspect-ratio: 4/3) {
  body {
    grid-template-columns: 2fr minmax(auto, #{uswds.units("mobile-lg")});
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "xsection header"
      "xsection controls";
    overflow: hidden;
  }
}
