@use "../uswds";

html {
  --bg-color: #{uswds.color("base-lightest")};
  --fg-color: #{uswds.color("ink")};

  background-color: var(--bg-color);

  color: var(--fg-color);
  font-family: uswds.family("ui");
  line-height: 1.5;
}

body {
  font-size: uswds.size("ui", "md");
  min-height: 100vh;
}

header {
  display: flex;
}

header p {
  color: uswds.color("base-dark");
  letter-spacing: 0.03em;
  line-height: uswds.line-height("ui", 1);
  text-transform: uppercase;
}

h1 {
  font-size: inherit;
  line-height: uswds.line-height("ui", 1);
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --bg-color: #{uswds.color("primary-darker")};
    --fg-color: #{uswds.color("base-lightest")};
  }

  header p {
    color: uswds.color("base-light");
  }
}

